REACT_EDITOR=code

APP_ENV=DEVELOPMENT
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/api"
NEXT_PUBLIC_FIREBASE_API_KEY="replace-with-firebase-web-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="agronomy-club.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="agronomy-club"
NEXT_PUBLIC_FIREBASE_APP_ID="replace-with-firebase-web-app-id"
