# FRONTEND
APP_ENV=PRODUCTION
NEXT_PUBLIC_BACKEND_URL=https://api.example.org/api
CLIENT_IMAGE=ghcr.io/gtalckmin/agronomy-club-next-prod-client@sha256:REPLACE_WITH_RELEASE_DIGEST
SERVER_IMAGE=ghcr.io/gtalckmin/agronomy-club-next-prod-server@sha256:REPLACE_WITH_RELEASE_DIGEST


# BACKEND
APP_NAME=DjangoAPI
API_SECRET_KEY= CHANGE THIS TO A RANDOM STRING
API_ALLOWED_HOSTS=api.example.org
FIREBASE_PROJECT_ID=agronomy-club

POSTGRES_HOST=db
POSTGRES_DB=agronomy_club
POSTGRES_NAME=agronomy_club
POSTGRES_USER=agronomy_club
POSTGRES_PASSWORD=CHANGE_THIS_TO_A_UNIQUE_PASSWORD
POSTGRES_PORT=5432

DJANGO_SUPERUSER_PASSWORD= CHANGE THIS TO A RANDOM STRING
DJANGO_SUPERUSER_EMAIL= CHANGE THIS TO A VALID EMAIL
DJANGO_SUPERUSER_USERNAME= CHANGE THIS TO A VALID USERNAME

FRONTEND_URL=https://www.example.org
